@import "../../assets/styles/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  border-right: 1px solid $border;
  background-color: $tertiary;
  gap: 3px;
  .section {
    color: $tertiary-light;
    stroke: $tertiary-light;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    transition-duration: 0.25s;
    cursor: pointer;
    .input {
      display: none;
    }
    .icon {
      width: 25px;
      height: 25px;
    }
    &:hover {
      color: $primary;
      stroke: $primary;
      background-color: rgba($primary, 0.1);
      opacity: 50%;
    }
    &:has(.input:checked) {
      color: $primary;
      stroke: $primary;
      background-color: rgba($primary, 0.1);
      border-right: 3px solid $primary;
      pointer-events: none;
    }
  }
}