@import "../../styles/colors.scss";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $neutral;
  color: $tertiary-light;
  .link {
    text-decoration: none;
    color: $tertiary-light;
  }
  .title {
    color: $primary;
  }
}