@import "../../assets/styles/colors.scss";

:host {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.link {
  text-decoration: none;
  color: $primary;
  transition-duration: 0.25s;
  &:hover {
    color: $primary-light;
  }
  &:active {
    opacity: 50%;
  }
}

.icon {
  color: $primary;
}
.current {
  color: $primary-light;
}
.icon, .current {
  pointer-events: none;
}

.current, .link, .icon {
  font-size: 25px;
  text-transform: uppercase;
}