$primary: #ffb800;
$primary-light: #FFDEA8;
$primary-dark: #9E8F78;
$secondary: #B9F1FF;
$tertiary: #1a1d23;
$bg: #101316;
$bg-light: #191C1F;
$tertiary-light: #74777E;
$neutral: #05070a;
$border: #272A30;